//COULEURS
$color-bandeau:#000;
$color-tickets: #00FF33;
$color-planning: #FF00CC;
$color-mobilite: #CCFF00;
$color-text: #000000;
$color-bg-dark: #000000;
$color-bg-darker: #1F1A1A;
$color-contour: #FFFFFF;
$color-cardBlue: #00E7DC;
$color-cardRose: #FF0080;
$color-cardGreen:#A9EE06;
$color-cardMauve:#FB00FF;
$color-cardOrange:#FFA43C;
$color-cardGreen:#A9EE06;
$color-cardRouge:#FF3C3C;
$color-step: #555555;
$color-cardSolo: #556611;
$color-cardGroupe: #116622;
$color-cardVip:#551144;
$color-white: #fff;
$color-vert:#00FF00;
//POLICES CARACTERES
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Itim&family=Lumanosimo&display=swap');
$font-inter: 'Inter', sans-serif;
$font-itim: 'Itim', cursive;
$font-lumanosimo: 'Lumanosimo', cursive;