@use '_variables' as *;
// [FOOTER PAGE]
//style uniforme
.site-footer {
  background-color: $color-white;
  padding: 40px 20px;
  width: 100%;
  //Sponsor Section
  .sponsors-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.logos-row {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.logos-row img {
  height: 50px;
}
.sponsor-btn {
  background: $color-bg-dark;
  color: $color-cardRose;
  font-family: $font-inter;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
}
//SEPARATEUR FOOTER
.pink-divider {
  border: 0;
  border-top: 2px solid $color-cardRose;
  margin: 20px 0;
}
//PARTIE TOUT EN BAS DU FOOTER
.footer-main {
  font-family: $font-inter;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}
// regroupement gauche [logo, litz, telephone]
.footer-left {
  display: flex;
  flex-direction: column;
}
.logo-wrapper {
  display: flex;
}
.b-icon {
  width: 45px;
  height: auto;
}
.logo-text {
  font-size: 2rem;
  font-weight: bold;
  color: $color-cardRose;
  font-family: $font-lumanosimo;
}
.phone {
  font-weight: bold;
}

//elements CENTRER [mention legal ect]
.footer-center {
  display: flex;
  flex-direction: column;
}
.black-link {
  display: block;
  color: $color-bg-dark;
  text-decoration: none;
  font-weight: bold;
}
.pink-header {
  color: $color-cardRose;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5px;
}
//elements grouper à DROITE [réseaux sociaux, p-> lien contact]
.footer-right {
  display: flex;
  flex-direction: column;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons img {
  height: 30px;
}
.sponsor-btn {
  text-decoration: none;
  cursor: pointer;
}
// Centrer sur format mobile et mettre en une ligne
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .logos-row {
    flex-wrap: wrap; //empêcher que les logo sponsors se coupe
  }
}