@use '_variables' as *;

// [MOBILITE PAGE]
.slide.location-section {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: #000000;
  box-sizing: border-box;
  padding: 80px 5% 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Question + Map
.location-main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1200px;
}

//Aligne la question Où à gauche
.location-question {
  flex: 1;
  text-align: left;
  h1 {
    font-size: 5rem;
    font-family: $font-inter;
    font-weight: bold;
    color: #00FF00;
    margin-right: 40px;
  }
}

// CONTENEUR DE LA CARTE
.location-map-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1.5;
  width: 100%;
}

.map-image, .location-map-container iframe {
  width: 100%;
  max-width: 500px;
  height: 280px;
  border-radius: 20px;
  display: block;
  margin: 0;
}

.location-address {
  font-size: 1.4rem;
  font-family: $font-inter;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
}

// LES BOX OUVRANTES (ACCORDÉONS)
.transport-accordions {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.transport-box {
  width: 100%;
  background-color: #dbdbdb;

  summary {
    background-color: #FF0080;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 15px 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }
}

.transport-content {
  color: #333333;
  padding: 25px;
  font-size: 1.2rem;
  text-align: left;
}

// Format Tablette
@media (max-width: 1024px) {
  .slide.location-section {
    height: auto;
    min-height: 100vh;
    padding: 100px 40px 40px;
  }

  .location-main-block {
    gap: 40px;
  }

  .location-question h1 {
    font-size: 4rem;
  }
}

// Format Mobile
@media (max-width: 768px) {
  .slide.location-section {
    height: auto;
    min-height: 100vh;
    padding: 90px 20px 40px;
    justify-content: flex-start;
  }

  .location-main-block {
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
  }

  .location-question {
    text-align: center;
    h1 {
      font-size: 3.5rem;
    }
  }

  .location-map-container {
    align-items: center;
    width: 100%;
  }

  .map-image, .location-map-container iframe {
    max-width: 100%;
    height: 220px;
  }

  .location-address {
    font-size: 1.2rem;
    text-align: center;
  }

  .transport-box summary {
    font-size: 1.4rem;
    padding: 12px 20px;
    font-family: $font-inter;
  }

  .transport-content {
    font-size: 1.1rem;
    padding: 15px;
    font-family: $font-inter;
  }
}