@use '_variables' as *;
header {
  position: fixed;
  //top: 0;
  width: 100%;
  z-index: 1000;
  background: transparent;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  //transition: all 0.5s ease;
  // Logo et Texte
  .logo-container {
    text-decoration: none;
    .texte-groupe {
      display: flex;
      flex-direction: column;
      top: 5px;
      .festival {
        font-family: $font-inter;
        font-size: 1.5rem;
        color: $color-cardRose ;
        font-weight: bold;
      }
      .litz{
        font-family: $font-lumanosimo;
        font-size: 2rem;
        line-height: 1;
      }
    }
  }
  // problème quand la nav passe sur la tenue noir de l'artiste !
  .menu a {
    font-weight: bold; // ça diffuse mieux la lumière autour en blanc
    text-shadow:
            //0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff,
            0 0 40px rgba(255, 255, 255, 0.8),
            0 0 80px rgba(255, 255, 255, 0.5);
  }
  // Slide-2 : halo rose sur fond sombre
  &.scrolled .menu a {
    text-shadow:
            0 0 10px rgb(255, 0, 155),0 0 25px rgb(255, 0, 134),0 0 50px rgb(238, 0, 125);
  } //pour mon logo aussi sur page sponsor

  // Survol surtout pour que mobile ça fonctionne aussi !
  .menu a:hover, .btn-ticket:hover {
    color: $color-cardRose !important;
  }
  .btn-ticket{

  }
  .btn-ticket {
    //display: inline-block;
    //text-decoration: none;
    background-color: $color-cardRose;
    //border: 2px solid $color-cardRose;
    //padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    color: $color-cardRose;
    padding: 10px 20px;
    font-family: $font-inter;
    //line-height: 1;
    transition: all 0.3s ease;
  }
  .btn-ticket:hover {
    background-color: #ffffff;
    color: $color-cardRose;
    border-color: #ffffff;
  }
  nav {
     padding: 15px 20px;
     margin-left: auto;
     margin-right: 50px;
     font-family: $font-inter;
     ul {
       li {
         list-style: none;
         a {
           text-decoration: none;
         }
       }
     }
   }
  //MENU HORIZONTALE
  nav > ul {
    display: flex;
    //list-style: none;
    gap: 100px;
  }
  .logo-container{
    display: flex;
    align-items: center;
    padding: 5px;
    img{
      height: 60px;
    }
  }
}
.sous-menu{
  display: none;
  position: absolute;
}
.sous-menu-mobile {
  display: none;
}
li:hover .sous-menu{
  display: block;
}
.sous-menu li a:hover{
  color: $color-cardRose;
}
//image svg menu
.menu li a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
// On n'affiche le SVG QUE pour le 1er (LINE-UP) et le 3ème (SPONSORS)
.menu li:nth-child(1) a:hover::after,
.menu li:nth-child(3) a:hover::after {
  display: block; // On réactive l'affichage uniquement ici
  position: absolute;
}
.menu-burger {
  display: none;
}
// Affiche le soulignement pc
@media screen and (min-width: 1025px) {
  .menu > li:not(.dropdown) > a:hover::after {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../build/images/soulignement.svg');
  }
}
/* On ne l'affiche que sur les petits écrans */
@media screen and (max-width: 1024px) {
  .menu-burger {
    display: flex;
  }
}
//MEDIA QUERIES TABLETTE et telephone NAV
@media screen and (min-width:768px) and (max-width:1024px){
  .navbar{
    position: relative;
    min-height: 80px;
  }
  //BOUTON TICKETS
  .btn-ticket{
    position: absolute;
    top: 20px;
    right: 80px;
    padding: 10px 20px;
    text-decoration: none;
    //pointer-events: auto;
  }

  //BURGER commun
  .menu-burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 32px;
    right: -40px;
    width: 30px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1001;
  }
  .menu-burger span{
    width: 100%;
    height: 3px;
    background-color: $color-cardBlue;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  //croix
  .menu-burger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-burger.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
  }
  .menu-burger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  //MENU POUR TABLETTE
  .menu{
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    //background: transparent;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
  }

  // Affichage menu tablette
  .menu.active{
    display: flex;
    .sous-menu{
      position: static;
      display: block;
    }
    .sous-menu li{
      margin-top: 5px;
    }
  }
}

//MENU MOBILE
@media screen and (max-width: 768px) {
  header {
    padding: 0 5px;
    height: 80px;
    .menu.active a {
      color: $color-white;
    }
    .menu-burger {
      cursor: pointer;
      margin-right: 10px;
      z-index: 1001;
    }
    .menu-burger span {
      width: 25px;
      height: 3px;
      background-color: $color-cardBlue;
      border-radius: 2px;
      transition: 0.3s;
    }
  }
  //animation croix
  .menu-burger.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .menu-burger.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);
  }
  .menu-burger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  //descendre la croix plus bas sur mobile (à retirer pour le portfolio !!!)
  .menu-burger.active {
    position: fixed;
    top: 250px;
    right: 20px;
  }

  //MENU FULLSCREEN
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $color-bg-dark;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    z-index: 1000;
    .sous-menu {
      display: none;
      position: relative;
    }
  }
//Menu ouvert
  .menu.active {
    display: flex;
  }
  .menu a {
    font-size: 22px;
  }
  .festival {
    font-size: 0.9rem !important;
    color: $color-cardRose;
  }
  //navbar prend tout l'espace à droite */
  .navbar {
    order: 3;
    margin: 0;
    padding: 0;
  }
  .btn-ticket {
    margin-right: 20px;
    margin-left: auto;
    font-family: $font-inter;
    transition: all 0.3s ease;
  }
  //burger APRÈS ticket
  .menu-burger {
    display: flex;
    flex-direction: column;
    gap: 4.2px;
    background: none;
    border: none;
    cursor: pointer;
  }
  //GESTION CONFLIT SURVOLE ET CLIQUER
  .dropdown:hover .sous-menu {
    display: none;
  }
  .sous-menu {
    display: none;
    list-style-type: none;
    padding: 10px;
  }

  .dropdown.active .sous-menu,
  .dropdown.active:hover .sous-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .sous-menu-mobile {
    margin-left: 12px;
    cursor: pointer;
    color: $color-cardRose;
    user-select: none;
    display: inline-block;
    padding: 15px ; // Crée une zone de clic
    transition: transform 0.3s ease;
    // ANTI-BUG 3 : On réactive le clic sur le V
    pointer-events: auto;
  }
  .dropdown.active .sous-menu-mobile {
    transform: rotate(180deg);
  }
}
//RAPTICIR LE LOGO ET DISPARAITRE FESTIVAL2026
header {
  transition: all 0.5s ease;
  .logo-container {
    overflow: hidden;
    // Transition sur l'image et le texte pour la fluidité
    img, .litz {
      transition: all 0.7s ease;
    }
    img {
      width: 100px;
      transition: all 0.5s ease-in-out; // Transition synchronisée
    }
    .litz {
      font-size: 24px; // Taille initiale
      transition: all 0.5s ease-in-out;
    }
    .festival {
      transition: all 0.5s ease-in-out;
      opacity: 1;
      width: auto;   // On laisse sa largeur au début
      white-space: nowrap;
    }
  }
  // Scrolled Slide 2
  &.scrolled {
    .logo-container {
      img {
        width: 40px; // Image réduite
      }
      .litz {
        font-size: 16px; // Texte LITZ réduit
      }
      .festival {
        opacity: 0;
        display: none; // Disparaît
      }
    }
  }
}
header {
  //logo noir qu'on change en blanc
  .logo-container img {
    transition: filter 0.3s ease;
    filter: brightness(1) invert(0);
  }
  .litz, .festival, .menu a, .btn-ticket {
    color: $color-bg-dark;
  }
  &.scrolled {
    // Le logo devient blanc
    .logo-container img {
      filter: brightness(0) invert(1);
    }
    // Le texte devient noir sur fond blanc
    .litz, .festival, .menu a, .btn-ticket {
      color: $color-white;
    }
  }
}
