@use '_variables' as *;
// [PAGES PLANINNG]
.planning-section {
  padding: 100px 150px;
  font-family: $font-inter;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .planning-title {
    color:$color-vert;
    font-size: 2.2rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  //Encadré PLANNING
  .planning-wrapper {
    display: flex;
    width: 100%;
    max-width: 1400px;
    border: 3px solid $color-cardRose;
  }
  .planning-table {
    width: 50%;
    // PLANNING RÉDUIT
    th, td {
      padding: 15px 30px;
      text-align: left;
      vertical-align: middle;
    }
    // En-tête
    th {
      color: $color-white;
      font-size: 1.6rem;
      font-weight: 900;
      letter-spacing: 2px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
  }
  // Ligne de séparation verticale
  .border-right {
    border-right: 2px solid $color-cardRose;
  }
  // Colonne des Heures
  .time-cell {
    color: $color-white;
    font-weight: bold;
    font-size: 1.5rem;

  }
  // Noms des Artistes
  .artist-cell a {
    color: $color-step;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: color 0.2s ease;
    &:hover {
      color: $color-cardRose;
    }
  }
  //FORMAT TABLETTE
  @media (max-width: 1024px) {
    padding: 60px 100px;
    .planning-wrapper {
      flex-direction: column;
    }
    .planning-table {
      width: 100%;
      border-bottom: 2px solid $color-cardRose;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  //FORMAT MOBILE
  @media (max-width: 768px) {
    padding: 110px 30px 40px 30px;
    .planning-table {
      th, td {
        padding: 12px 10px;
      }
      th {
        font-size: 1.4rem;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
    .time-cell {
      font-size: 1.2rem;
      width: 40%;
    }
    .artist-cell a {
      font-size: 1.2rem;
    }
  }
}