@use '_variables' as *;

// Spotify mobile cachée par défaut sur PC
.artist-spotify-mobile {
  display: none;
}
// [PRESENTATION ARTISTES PAGE]
.artist-presentation-container {
  padding: 100px 121px 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  /* Ou avec gap : calc(50% - 20px) calc(50% - 20px); */
  grid-template-areas:
    "photo   title"
    "photo   bio"
    "photo   spotify"
    "video   social";
  gap: 0 40px;
  align-items: center;
  text-align: center;
  .artist-title-name {
    font-size: 2.8rem;
    color: $color-cardRose;
    grid-area: title;
    margin: 0;
    padding-top: 0;
    text-align: left;
  }
  .artist-top-block {
    grid-area: photo;
    display: flex;
    flex-direction: column;
    height: 100%;
    .artist-photo {
      flex: 1; //prend l'espace bloc gauche aux maximum
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .artist-bio {
    grid-area: bio;
    text-align: left;
    p {
      color: $color-white;
      line-height: 1.6;
      font-size: 1rem;
      margin-bottom: 15px;
    }
  }
  .artist-audio-player {
    grid-area: spotify;
  }
  .artist-social-links {
    grid-area: social;
    display: flex;
    justify-content: center;
    gap: 20px;
    a {
      color: $color-white;
      font-size: 2.5rem;
      text-decoration: none;
      transition: 0.2s ease;
      &:hover {
        color: $color-cardRose;
      }
    }
  }
  .artist-video {
    grid-area: video;
    margin-top: 30px;
  }
}
//Tablette
@media (max-width: 1024px) {
  .artist-presentation-container {
    display: flex;
    flex-direction: column;
    .artist-top-block { //image portrait
      width: 100%;
    }
    .artist-audio-player {
      width: 100%;
    }
    .artist-title-name {
      font-size: 3.8rem;
      margin: -50px 0 5px ;
      text-align: center;
    }
    .artist-bio {
      p {
        color: $color-white;
        font-size: 1.2rem;
        line-height: 1.6;
        margin-top: 20px;
      }
    }
  }
}
//mobile
@media screen and (max-width: 402px) {
  .artist-presentation-container {
    padding: 100px 0 40px;
    .artist-audio-player {
      display: none;
    }
    .artist-top-block {
      display: grid;
      grid-template-columns: 30% 1fr;
    }
    .artist-title-name {
      font-size: 2.3rem;
      margin: -10px 0 5px ;
      text-align: center;
    }
    .artist-bio p {
      font-size: 1rem;
      line-height: 1.5;

    }
  }
  .artist-video {
    margin-top: 50px !important; //imposé pour descendre plus bas
    margin-bottom: 25px;
  }
  .artist-spotify-mobile {
    display: block;
    iframe {
      height: 100%;
      border-radius: 12px;
    }
  }
}