@use '_variables' as *;

// [SPONSORS PAGES]
.sponsors-section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  .sponsors-title-container {
    display: inline-block;
    margin-bottom: 2vh;
    margin-top: 8vh;
    h2{
      color: $color-vert;
      font-size: 2.2rem;
      font-family: $font-inter;
      letter-spacing: 1px;
      margin: 0 0 10px 0;
      text-transform: uppercase;
    }
    .title-underline {
      width: 280px;
      margin: 0 auto;
    }
  }
  // CADRE EXTÉRIEUR ROSE
  .outer-pink-box {
    max-width: 1000px;
    border: 6px solid $color-cardRose;
    overflow: hidden;
  }
  // BLOC BLANC CENTRAL
  .sponsors-white-grid {
    background-color: $color-white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
  }
  // EMPLACEMENT DE CHAQUE LOGO
  .sponsor-logo-item {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sponsor-logo-item img {
    max-width:70%;
  }
  
//mobile
  @media (max-width: 402px) {
    height: auto;
    min-height: 100vh;        
    padding: 4vh 15px 30px 15px;
    .sponsors-title-container {
      h2 {
        font-size: 1.2rem;
        margin-top: 2vh;
        margin-bottom: 1.5vh;
      }
      .title-underline {
        width: 200px;
      }
    }

    .sponsors-white-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  }
}