@use '_variables' as *;

// [TICKETS PAGE]
.shop-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 100px 20px;
  box-sizing: border-box;
  color: $color-white;
  font-family: $font-inter;
}
.cart-svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
// TITRE VERT FLASH
.shop-main-title {
  color: #00FF00;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin: 40px 0;
  letter-spacing: 1px;
}
//la barre répartie
.steps-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  gap: 20px;
  .step-item {
    flex: 1; // on lui dit qu'il a l'espace de son parent et réparti en fonction
    text-align: center;
  }
  .step-bar {
    height: 6px;
    background-color: $color-step;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  .step-item.active .step-bar {
    background-color: #FF0080;
  }
  .step-item.active h2 {
    color: #FF0080;
  }
}
// GRILLE DES CARTES
.tickets-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; //hésite mettre btn suivant droite où bas sur pc -> passer à la ligne "wrap"
  .card-seul {
    border: 2px solid $color-cardSolo;
  }
  .card-groupe {
    border: 2px solid $color-cardGroupe;
  }
  .card-vip {
    border: 2px solid $color-cardVip;
  }
  .ticket-img-wrapper {
    height: 180px;
  }
  // taille des cartes
  .ticket-card {
    width: 320px;
    border-radius: 12px;
    overflow: hidden; //empêche le débordement des images sur le cadre
    display: flex;
    flex-direction: column;
    .ticket-img-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .ticket-content {
    padding: 20px;
    flex-direction: column;
  }
  .ticket-header-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .ticket-content h3 {
    font-size: 1.8rem;
    font-weight: normal;
  }
  .ticket-price {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .ticket-description {
    color: $color-white;
    font-size: 0.95rem;
    line-height: 1.4;
  }
  .quantity-selector {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    font-size: 1.5rem;
    min-width: 20px;
  }
  .qty-btn {
    background: transparent;
    border: none;
    color: $color-white;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0 5px;
  }
}
.qty-btn:hover {
  color: $color-cardRose;
}
// Bouton en bas
.shop-footer-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; //retirer si je veux mettre à droite mon bouton sur pc
}
//BTN SUIVANT
.next-step-arrow {
  width: 50px;
  height: 50px;
  background-color: $color-cardRose;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  .arrow-text {
    color: $color-white;
    font-size: 2rem;
  }
  &:hover {
    background-color: $color-white;
    .arrow-text {
      color: $color-cardRose;
    }
  }
}
// ADAPTATION TABLETTE
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .shop-wrapper {
    .shop-main-title {
      font-size: 2.2rem;
    }
  }
}
// MOBILE
@media (max-width: 768px) {
  .cart-btn {
    margin-right: 15px;
    margin-left: auto;
  }
  .cart-svg {
    width: 28px;
    height: 28px;
  }
  .steps-container {
    gap: 10px;
    .step-item h2 {
      font-size: 1.2rem;
    }
  }
  .shop-main-title {
    font-size: 2rem;
  }
}